@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Great+Vibes&family=Grey+Qo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 0;
    list-style: none;
}

.big-box {
    background-color: #222222;
    margin: 60px;
    margin-left: 100px;
    padding: 30px;
    border-radius: 2em;
}
.small-container {
    margin: 20px;
    padding: 50px;
    border-radius: 1em;
}
.pic1 {
    transform: scale(0.1);
    margin-top: -1000px;
    margin-left: -750px;
    border-radius: 5em;
}
.pic2 {
    transform: scale(0.5);
    margin-top: -1450px;
    margin-left: 300px;
}
.z-icon {
    margin-top: -430px;
    margin-left: 700px;
    padding: 10px;
    padding-left: 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    width: 55px;
    border-radius: 6em;
    text-align: center;
}
.arcane-header {
    margin-top: 150px;
    text-align: center;
    font-family: poppins, roboto, montserrat;
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
}
.arcane-details {
    background-color: #111111;
    margin: 20px;
    padding: 20px;
    border-radius: 1em;
}
.pack {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.sub-packs {
    background-color: #222222;
    border-radius: 1.5em;
}
.sandbox {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
}
.subsandbox {
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    font-family: roboto, poppins, montserrat;
    font-weight: 600;
    color: #ffffff;
}
.subssands {
    margin: 20px;
    padding: 10px;
}


